* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

}

header {
  max-width: 1440px;
  margin: 90px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: calc(240px * 1.18);
}

.try-button {
  font-family: "Open Sans", sans-serif;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  font-size: 19px;
  display: inline-block;
  padding: 10px 36px;
  border-radius: 25px;
  margin-right: -95px;
}

.section_1,
.section_5 {
  text-align: center;
  margin-top: 270px;
}

.title_1 {
  font-family: "Poppins", sans-serif;
  font-size: 57px;
  font-weight: 700;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 23.5px;
  margin: 23px 500px;
  line-height: 1.5;
  font-weight: 400;
}

.get-started-button {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  font-size: 22px;
  display: inline-block;
  padding: 32px 119px;
  border-radius: 54px;
  margin-top: 36px;
  letter-spacing: 0.7px;
}

.section_2 {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

.screen-mockups {
  width: calc(1035px * 1.18);
}

.section_3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 130px;
}

.communities {
  width: calc(47px * 1.2);
  margin-top: 15px;
  margin-right: 270px;
}

.messages {
  width: calc(48px * 1);
  margin-right: 242px;
  margin-top: 20px;
}

.stats_1,
.stats_2 {
  font-family: "Open Sans", sans-serif;
  font-size: 115px;
}

.stats_1 {
  margin-right: 40px;
  margin-bottom: 10px;
}

.stats_2 {
  margin-left: 27px;
  margin-bottom: 12px;
}

.text_1,
.text_2 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  color: hsl(207, 6%, 63%);
  margin-right: 24px;
}

.text_1 {
  margin-right: 48px;
}

.text_2 {
  margin-right: 7px;
}

.top_1 {
  width: 100%;
  height: calc(165px * 1.2);
  margin-top: 160px;
  margin-bottom: -5px;
}

.row_1 {
  display: flex;
  align-items: center;
  background-color: hsl(207, 100%, 98%);
  padding-top: 85px;
}

.column_3 {
  width: 700px;
  margin: 155px;
}

.sub-title_1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
}

.text_3 {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  margin-top: 20px;
  line-height: 1.5;
}

.grow-together {
  width: calc(1023.46px * 0.6);
  margin-right: 180px;
}

.bottom_1 {
  width: 100%;
  height: calc(139px * 1.5);
}

.section_4b {
  margin: 110px;
}

.row_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.flowing-conversation {
  width: calc(1023.46px * 0.62);
  margin-left: 48px;
  margin-top: 120px;
}

.column_4 {
  margin-left: 158px;
  margin-right: 20px;
  margin-top: 125px;
}

.sub-title_2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
}

.text_4 {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  margin-top: 20px;
  line-height: 1.5;
}

.top_2 {
  width: 100%;
  height: calc(165px * 1.2);
  margin-bottom: -5px;
}

.row_3 {
  display: flex;
  align-items: center;
  background-color: hsl(207, 100%, 98%);
  padding-top: 25px;
}

.column_5 {
  width: 700px;
  margin: 155px;
}

.sub-title_3 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
}

.text_5 {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  margin-top: 20px;
  line-height: 1.5;
  margin-bottom: 60px;
}

.your-users {
  width: calc(1077.87px * 0.59);
  margin-right: 150px;
  margin-bottom: 100px;
}

.bottom_2 {
  width: 100%;
  height: calc(139px * 1.5);
  padding-bottom: 100px;
}

.title_2 {
  font-family: "Poppins", sans-serif;
  font-size: 47px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 700;
  margin-top: -160px;
}

.footer-top {
  width: 100%;
  margin-top: 206px;
  margin-bottom: -5px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(192, 100%, 9%);
  padding-bottom: 272px;
}

.footer-column_1 {
  width: 370px;
  margin-left: 141px;
  margin-top: 158px;
}

.phone {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.email {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.icon-phone {
  margin-right: 20px;
  height: calc(18px * 1.2);
}

.icon-email {
  margin-right: 20px;
  height: calc(16px * 1.2);
}

.logo_2 {
  filter: brightness(0) invert(1);
  width: calc(240px * 1.15)
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  line-height: 1.8;
  margin-top: 25px;
  letter-spacing: .7px;
}

.phone-number {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}

.email-address {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
